* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

.top-bar{
    display: flex;
    justify-content: space-between;
}

.high-score-link{
    padding: 10px;
    text-align: left;
}

.option-container{
    display: flex;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;     
}

.timer {
    padding: 10px;
    text-align: right;
}

.quiz-container{
    display: flex;
    justify-content: center;
}

.question {

}

.option {

}


.score {

}



